<!DOCTYPE html>
<html>
<head>
    <title>PiBikeCam</title>
</head>
<body>
	<form action="/start_recording" method="get">
        <button type="submit">Start Recording</button>
    </form>
    <h1>Recorded Videos</h1>
    <form method="get">
        <select name="video_name">
            {% for video_file in video_files %}
            <option value="{{ video_file }}">{{ video_file }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Play">
    </form>
    <br>
    <video controls width="1920" height="1080">
        <source src="{{ url_for('stream_video', video_name=request.args.get('video_name', '')) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>
